<% const messages = getMessages() %>
<% if (messages.notify) { %>
    <% messages.notify.forEach((value) => { %>
        <% if (value.type === 'danger') { %>
            <div class="card-body message h6 text-center">
                <% Object.values(value.message).forEach((message) => { %>
                    <div class="alert alert-<%= value.type %>">
                        <%= message.message %>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <div class="card-body message h6 text-center">
                <div class="alert alert-<%= value.type %>">
                    <%= value.message %>
                </div>
            </div>
        <% } %>
    <% }) %>
<% } %>