<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Over Destiny</title>
        <link rel="stylesheet" href="public/assets/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="public/assets/vendors/css/vendor.bundle.base.css">
        <link rel="stylesheet" href="public/assets/vendors/jvectormap/jquery-jvectormap.css">
        <link rel="stylesheet" href="public/assets/vendors/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" href="public/assets/vendors/owl-carousel-2/owl.carousel.min.css">
        <link rel="stylesheet" href="public/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
        <link rel="stylesheet" href="public/assets/css/style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="shortcut icon" href="public/assets/images/favicon.ico" />
    </head>
    <body class="theme-default">
        <%- body %>
        <script src="public/assets/vendors/js/vendor.bundle.base.js"></script>
        <script src="public/assets/vendors/chart.js/Chart.min.js"></script>
        <script src="public/assets/vendors/progressbar.js/progressbar.min.js"></script>
        <script src="public/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
        <script src="public/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script src="public/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
        <script src="public/assets/js/off-canvas.js"></script>
        <script src="public/assets/js/hoverable-collapse.js"></script>
        <script src="public/assets/js/misc.js"></script>
        <script src="public/assets/js/settings.js"></script>
        <script src="public/assets/js/todolist.js"></script>
        <script src="public/assets/js/dashboard.js"></script>
        <script>
            $('.message').delay(1 * 60 * 60).hide('slow');
        </script>
    </body>
</html>