<% layout('../layoutForms.ejs') %>
<div class="login-wrapper">
    <div class="d-flex justify-content-center mt-5">
        <div class="card" id="forget-card">
            <div class="col-md-6 mx-auto">
                <div class="card-body logo text-center">
                    <h3>
                        <img class="w-50" src="public/assets/images/brand.png" alt="">
                    </h3>
                </div>
                <div class="card-body">
                    <form action="/login" method="POST">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ti-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Usuário">
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ti-password"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="Senha">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>