<div style="display: none;" class="col-md-12 grid-margin stretch-card update">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between border-bottom update-title"></div>
            <div class="d-flex flex-row row px-4 justify-content-center my-2 py-4 text-center update-data"></div>
        </div>
    </div>
</div>