<!DOCTYPE html>
<html lang="pt">
    <head>
        <% include('../partials/head.ejs'); %>
    </head>
    <body class="theme-default">
        <% include('../partials/scripts.ejs'); %>
    </body>
</html>