<!DOCTYPE html>
<html lang="pt">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <div class="container-scroller">
            <% include ../partials/header %>
            <%- body %>
            <% include ../partials/footer %>
        </div>
        <% include ../partials/scripts %>
    </body>
</html>