<!DOCTYPE html>
<html lang="pt">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="theme-default">
        <%- body %>
        <% include ../partials/scripts %>
    </body>
</html>