<% layout('../layouts/dashboardin.ejs') %>
<% include ../partials/messages %>

<div class="row">
    <div class="col-md-12 bg-primary">
        <h3>
            Guildmark
        </h3>
    </div>
</div>

