<% layout('../layouts/dashboardin.ejs') %>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <% include ../partials/messages %>
        </div>
        <% include user/welcome.ejs %>
        <% include user/changepassword.ejs %>
        <% include user/recoverynumericpassword.ejs %>
        <% include user/guildmark.ejs %>
        <% include user/rankingplayers.ejs %>
        <% include user/rankingcities.ejs %>
        <% include user/donate.ejs %>
        <% include user/donaterules.ejs %>
        
        <% include admin/donatepackages.ejs %>
        <% include admin/donateitems.ejs %>
    </div>