<% layout('../layouts/dashboardout.ejs') %>
<div class="login-wrapper">
    <div class="d-flex justify-content-center mt-5">
        <div class="card" id="forget-card">
            <div class="col-md-6 mx-auto">
                <div class="card-body logo text-center">
                    <h3>
                        <img class="w-50" src="public/assets/images/brand.png" alt="">
                    </h3>
                </div>
                <% include ../partials/messages %>
                <div class="card-body"> 
                    <form action="/login" method="POST">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Usuário">
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="Senha">
                        </div>
                        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                        <input type="hidden" name="action" value="validate_captcha">
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary py-3 px-5">
                                Login
                            </button>
                        </div>
                        <div class="form-group text-center">
                            <a class="btn btn-success" href="/register">
                                Cadastro
                            </a>
                            <a class="btn btn-danger" href="/recovery">
                                Recuperação de conta
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>