<div style="display: none;" class="col-md-12 grid-margin stretch-card donate-packages">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between border-bottom">
                Lista de pacotes de doações
            </div>
            <div class="d-flex flex-row row px-4 justify-content-center my-2 py-4 text-center list-donate-packages">
            </div>
        </div>
    </div>
</div>

<div style="display: none;" class="col-md-12 grid-margin stretch-card donate-packages">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between border-bottom">
                Adicionar pacote de doação
            </div>
            <div class="d-flex flex-row row px-4 justify-content-center my-2 bg-dark py-4 text-center">
                <div class="justify-content-center text-center mx-auto">
                    <form method="POST" action="/donate-packages">
                        <div class="form-group my-1">
                            <input class="form-control" name="name" type="text" placeholder="Nome do pacote de doação">
                        </div>
                        <div class="form-group my-1">
                            <input class="form-control" name="value" type="integer" placeholder="Valor a ser pago">
                        </div>
                        <div class="form-group my-1">
                            <input class="form-control" name="donate" type="integer" placeholder="Valor do donate">
                        </div>
                        <div class="form-group my-1">
                            <input class="form-control" name="percent" type="integer" placeholder="Porcentagem de bonificação">
                        </div>
                        <input type="hidden" class="g-recaptcha-response" name="g-recaptcha-response">
                        <input type="hidden" name="action" value="validate_captcha">
                        <div class="form-group mt-3 mb-1">
                            <button type="submit" class="btn btn-primary">
                                Criar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>